<%- include("../partials/head.ejs") %>
<body>
  <%- include("../partials/sidebar.ejs") %>
  <form action="/application/<%=application._id%>/edit?_method=PUT" method="POST">
    <label for="companyName">Company</label>
    <input id="companyName" name="companyName" type="text" placeholder="e.g Google" value="<%= application.companyName %>">
    <label for="positionTitle">Position</label>
    <input id="positionTitle" name="positionTitle" type="text" placeholder="e.g Software Engineer" value="<%= application.positionTitle %>">
    <label for="status">Application Status</label>
    <select class="status-selections" id="status" name="status">
      <option value="">Choose a status</option>
      <option value="Applied" class="applied">Applied</option>
      <option value="Interested" class="Interested">Interested</option>
      <option value="Interviewing" class="Interviewing">Interviewing</option>
    </select>
    <label for="jobRequirements">Job Requirements</label>
    <textarea id="jobRequirements" name="jobRequirements" cols="40" rows="10"  placeholder="e.g Requires experience in the following: Microservices; Apache Kafka; Docker; J2EE; Spring; REST; SOAP; Maven; JSON; and GIT."><%= application.jobRequirements %></textarea>
    <label for="notes">Notes</label>
    <textarea id="notes" name="notes" cols="40" rows="10" placeholder="e.g A buddy recommended this opportunity to me. TODO: need to follow up"><%= application.notes %></textarea>
    <input type="submit" value="Edit Application">
  </form>
  <a href="/application/<%=application._id%>"><button>◀︎</button></a>
</body>
</html>
